################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectManagement.Api/ProjectManagement.Entities/bin/Debug/netstandard2.0
/ProjectManagement.Api/ProjectManagement.Entities/obj
/ProjectManagement.Api/ProjectManagement.Shared/bin/Debug/netstandard2.0
/ProjectManagement.Api/ProjectManagement.Shared/obj
/ProjectManagement.Api/ProjectManagement.Api/bin/Debug/netcoreapp3.1
/ProjectManagement.Api/ProjectManagement.Api/obj
/ProjectManagement.Api/ProjectManagement.Data.Implementation/obj
/ProjectManagement.Api/ProjectManagement.Data/bin/Debug/netstandard2.0
/ProjectManagement.Api/ProjectManagement.Data/obj
/ProjectManagement.Api/ProjectManagement.Data.Implementation/bin/Debug/netstandard2.0
*.dll
*.cache
*.txt
*.pdb
ProjectManagement.Api/XUnitTestProject/obj/XUnitTestProject.csproj.nuget.dgspec.json
*.CopyComplete
*.targets
*.v2
ProjectManagement.Api/.vs/ProjectManagement.Api/v16/.suo
ProjectManagement.Api/.vs/ProjectManagement.Api/v16/TestStore/0/003.testlog
*.v2
ProjectManagement.Api/XUnitTestProject/bin/Debug/netcoreapp3.1/ProjectManagement.Api.deps.json
ProjectManagement.Api/XUnitTestProject/bin/Debug/netcoreapp3.1/XUnitTestProject.deps.json
*.json
ProjectManagement.Api/XUnitTestProject/bin/Debug/netcoreapp3.1/ProjectManagement.Api.exe
ProjectManagement.Api/XUnitTestProject/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ProjectManagement.Api/XUnitTestProject/obj/Debug/netcoreapp3.1/XUnitTestProject.AssemblyInfo.cs
ProjectManagement.Api/XUnitTestProject/obj/XUnitTestProject.csproj.nuget.g.props
